.questions {
    min-width: 70%;
    max-width:500px;
    counter-reset: trivia;
    margin: 0 auto;
}

.answer {
    border: 1px solid #aaa;
    display: flex;
    position: relative;
    
    label {
        flex-grow: 1;
        text-align: center;
        cursor: pointer;
        padding: 0.3em 0;

    }

    input {
        position: absolute;
        visibility: hidden;
    }

    input:checked+label {
        border: 3px solid #000;
    }

}

.question {
    h2 {
        text-align: center;
        margin: 0;
        margin-top: 1em;
        color: lighten(getColor(5),15%);
        background-color: lighten(getColor(3),15%);
    }

    span {
        float: left;

        &::before {
            counter-increment: trivia;
            content:  counter(trivia) ". ";
        }
    }

}



#result {
    display: flex;
    flex-direction: column;
    margin-top: 2em;

    div {
        text-align: center;
    }

    button {
        font-family: var(--text-font);
        font-size: 1.5em;
        text-align: center;
    }
}
