
body {
    font-family: "Chilanka";
  }

  .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  h1 {
    margin-bottom: 20px;
    text-align: center;
    color: blue;
  }
  .add-task-container {
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
    margin: 0 1em;
  }

  .add-task-container img {
      width: 3em;
      height: 3em;
  }

  
  .add-task-container:hover {
    background-color: azure;
    cursor: pointer;
  }

  .trash-icon {
    min-width: 3em;
    min-height: 3em;
    vertical-align: middle;
    padding: 0 1em;
  }
 
  .remove-tasks-container {
    display: inline-block;
    cursor: pointer;
  }

  .remove-tasks-container img {
    max-width: 2em;
    max-height: 2em;
  }

  .undo {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .undo img {
      max-width: 3em;
      max-height: 3em;
  }

  .tasks-container {
    border-bottom: 2px solid blue;
  }
  .task-container {
    border-bottom: 1px solid blueviolet;
  }
  .task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    text-decoration: none;
  }
  .task:hover {
    border: 1px solid green;
  }
  .task-content {
    display: block;
    padding-left: 10px;
    width: 100%;
    min-height: 1em;
  }

  .task-content:focus {
    outline: 0px solid transparent;
  }


  .sub-tasks-container {
    margin-left: 20px;
  }
  
  .done {
    text-decoration: line-through;
  }

  .is-complete span {
      display: inline-block;
      width: 1em;
      height: 1em;
      border: 1px solid #555;
      border-radius: 20%;
      margin: 0 1em;
  }

  .is-complete input:checked + span::before {
    content: "\2713";
    display: inline-block;
    font-size: 1em;
    transform: scale(2) translate(3px,-4px);
    text-align: center;
    color: green;
  }

  .change-lang-dir {
      justify-self: flex-start;
      flex-basis: 100%;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;

  }

  .change-lang-dir img {
      transform: scale(1);
  }

  .flip {
     transform: scaleX(-1);
  }


